@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@400;500&family=Poppins:wght@300&display=swap');

.banner {
    position: absolute;
    height: 250px;
    left: 0px;
    top: 0px;
    width: 100%;

}

main{
    font-family: 'Poppins', sans-serif;
}

.logo {
    position: absolute;
    width: 100px;
    height: 146.37px;
    left: 50%;
    top: 50.91px;
    
}

h1 {
    position: absolute;
    width: 100px;
    height: 146.37px;
    left: 80%;
    top: 20.91px;
    text-align: center;

    color: #FFFFFF;

}

.titulo {
    font-family: 'Aboreto', cursive;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    top: 188px;

    background: #008080;

}

.datosPersonales {

    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 376px;
    background: #008080;
    font-family: 'Aboreto', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 134.69%;
    /* identical to box height, or 17px */

    font-feature-settings: 'cpsp' on;

    color: #FFFFFF;

}


.datos {

    position: absolute;
    width: 100%;
    height: 13px;
    left: 39px;
    top: 424px;

    /* identical to box height, or 13px */
    color: #000000;

}

.negrilla{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    line-height: 84.69%;
    color: #000000;
    font-weight:  bolder;
}

.formacionAcademica {

    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 518px;
    background: #008080;
    font-family: 'Aboreto', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 134.69%;
    /* identical to box height, or 17px */

    font-feature-settings: 'cpsp' on;

    color: #FFFFFF;

}

.experienciaLaboral {

    position: absolute;
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 690px;
    background: #008080;
    font-family: 'Aboreto', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 124.69%;

    /* identical to box height, or 17px */

    font-feature-settings: 'cpsp' on;

    color: #FFFFFF;

}



.datos {

    position: absolute;
    width: 100%;
    height: 13px;
    left: 39px;
    top: 424px;

    /* identical to box height, or 13px */
    color: #000000;

}
span{ font-weight: 700;}


.informacion {

    position: absolute;
    width: 262px;
    height: 34px;
    left: 19px;
    top: 567px;

    font-style: normal;
    font-size: 15px;
    line-height: 84.69%;

}

.informacion2 {

    position: absolute;
    width: 353px;
    height: 34px;
    left: 19px;
    top: 722px;

    font-style: normal;
  
    font-size: 15px;
    line-height: 84.69%;
    /* or 13px */


    color: #000000;

}

footer {
    position: absolute;
    width: 100%;
    height: 37px;
    left: 0px;
    top: 987px;
    color: #FFFFFF;
    

    background:  #008080;;

}
i{
    color: #fc9a9a;
}